.container{
 width: 50%;
margin: 4rem auto ;

}
.container main{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: whitesmoke;
}

main .author{
font-weight: 400;
font-size: 13px;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
 margin-block: 1rem;
 padding: 7px;
 border-radius: 5px;
 outline: 0;
 border: 0;
 cursor: pointer;

 color: aliceblue;

 background-color: rgba(193, 39, 39, 0.751);
 -webkit-border-radius: 5px;
 box-shadow: 2px 2px 3px black ;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
}
button:hover{
  background-color: rgb(214, 29, 29);
}